<!-- wp:template-part {"slug":"header-member","area":"header"} /-->
<!-- wp:template-part {"slug":"header-guest","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"wp--skip-link--target","className":"page-investment"} -->
<main class="wp-block-group page-investment" id="wp--skip-link--target">

  <!-- wp:group {"className":"inv-content-wrapper"} -->
  <div class="wp-block-group inv-content-wrapper">
    <!-- wp:group {"className":"inv-container"} -->
    <div class="wp-block-group inv-container">
      <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
