<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"ovl-property-theme ovl-show-title ovl-post-list","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group ovl-property-theme ovl-show-title ovl-post-list" style="margin-top:0">
	<!-- wp:post-title {"level":1} /-->
	<!-- wp:post-content /-->
	<!-- wp:ovl/post-list {"perPage":12} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
